 {# esto es para AJAX para el bot칩n Eliminar de la vista index #}
{%  if flashMessage is not defined %}
    <div class ="alert alert-danger hidden" id="message-danger" role="alert">
        <div class="container">
            <span id="user-message-danger"></span>
        </div>
    </div>
{% endif  %}

{# de lo contrario si existe la variable flashMessage, va a trabajar normalmente #}
{% for flashMessage in app.session.flashbag.get('mensaje') %} {# flashMessage, el nombre del mensaje para mostrarlo en nuestra vista, es decir, almacenando el msj en esa variable #}
        <div class="alert alert-danger" role="alert"> {#estilos de bootstrap#}
            <div class="container">{{ flashMessage }}</div> {#Symfony para ostrar este tipo de msj est치 utilizando una sesi칩n temporal, luego de refrescar la p치gina se quita#}
        </div>
    {% endfor %}